<mat-tab-group>
  <mat-tab label="Customer Save">
    <div class="main-wrap">
      <h1 class="header-text">Customer Form</h1>

      <form [formGroup]="customerForm" (ngSubmit)="saveCustomer()">
        <div class="col-12 col-sm-8 col-md-4 col-lg-3">
          <label for="customerId" class="form-label">Customer Id</label>
          <input formControlName="customerId" type="text" class="form-control" id="customerId">
          <p class="alert alert-danger" *ngIf="
        customerForm.get('customerId')?.touched &&
        customerForm.get('customerId')?.invalid" style="margin-top: 3px">Customer Id is Required.</p>
        </div>
        <br>
        <div class="col-12 col-sm-8 col-md-4 col-lg-3">
          <label for="customerName" class="form-label">Customer Name</label>
          <input formControlName="customerName" type="text" class="form-control" id="customerName">
          <p class="alert alert-danger" *ngIf="
        customerForm.get('customerName')?.touched &&
        customerForm.get('customerName')?.invalid" style="margin-top: 3px">Customer Name is Required.</p>
        </div>
        <br>
        <div class="col-12 col-sm-8 col-md-4 col-lg-3">
          <label for="customerSalary" class="form-label">Customer Salary</label>
          <input formControlName="customerSalary" type="number" class="form-control" id="customerSalary">
          <p class="alert alert-danger" *ngIf="
        customerForm.get('customerSalary')?.touched &&
        customerForm.get('customerSalary')?.invalid" style="margin-top: 3px">Customer Salary is Required.</p>
        </div>
        <br>
        <div class="mb-3">
          <label for="customerAddress" class="form-label">Customer Address</label>
          <textarea formControlName="customerAddress" class="form-control" id="customerAddress" rows="3"></textarea>
          <p class="alert alert-danger" *ngIf="
        customerForm.get('customerAddress')?.touched &&
        customerForm.get('customerAddress')?.invalid" style="margin-top: 3px">Customer Address is Required.</p>
        </div>

        <div class="button-wrap">
          <button [disabled]="customerForm.invalid" class="btn btn-primary btn-sm" type="submit">Save Customer</button>
        </div>
      </form>
    </div>
  </mat-tab>
  <mat-tab label="Delete All Customers">

    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Customer Id</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Customer Salary</th>
        <th scope="col">Customer Address</th>
        <th scope="col">Operate</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let tempCustomer of customerArray; index as cNumber">
        <th scope="row">{{cNumber + 1}}</th>
        <th>{{tempCustomer.customerId}}</th>
        <td>{{tempCustomer.customerName}}</td>
        <td>{{tempCustomer.customerSalary}}</td>
        <td>{{tempCustomer.customerAddress}}</td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="deleteCustomer(tempCustomer)">Delete</button>
          &nbsp;
          <button class="btn btn-success btn-sm" (click)="updateCustomer(tempCustomer)">Update</button>
        </td>
      </tr>
      </tbody>
    </table>

  </mat-tab>
  <mat-tab label="Option 3"> Content 3</mat-tab>
</mat-tab-group>


<!-- Button trigger modal -->
<button style="display: none" id="launchButton" type="button" class="btn btn-primary" data-toggle="modal"
        data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Customer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="updateForm">
          <div class="form-group">
            <label for="customerId">Customer Id</label>
            <input [value]="id" formControlName="id" type="text" class="form-control" id="update-customerId">
          </div>
          <div class="form-group">
            <label for="update-name">Customer Name</label>
            <input [value]="name" formControlName="name" type="text" class="form-control" id="update-name">
          </div>
          <div class="form-group">
            <label for="update-address">Customer Address</label>
            <input [value]="address" formControlName="address" type="text" class="form-control" id="update-address">
          </div>
          <div class="form-group">
            <label for="update-salary">Customer Salary</label>
            <input [value]="salary" formControlName="salary" type="number" class="form-control" id="update-salary">
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-sm" (click)="update()">Update Customer</button>
      </div>
    </div>
  </div>
</div>
